h1 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 6rem;
  }
  
  #options {
    text-align: center;
    font-size: large;
  }
  
  #dropdown-menu {
    font-size: large;
  }
  
  button {
    font-size: x-large;
    background-color: orange;
  }
  
  #breed-image-container {
    text-align: center;
  }

  #display-view {
    font-size: x-large;
    border: 4px solid orange;
    margin: 3rem;
    padding: 6rem;
  }

